.estrutura {
  display: grid;
  grid-template-areas:
    'detalhe detalhe'
    'titulo titulo';
  width: 1600px;
  margin: 0 auto;
  /* background: hotpink; */
}

.detalhe {
  grid-area: detalhe;
  display: grid;
  justify-content: end;
  margin: 50px 0;
  max-height: 52px;
}

.detalhe > svg {
  transform: rotate(90deg);
}

.titulo {
  grid-area: titulo;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.titulo div:first-child {
  display: flex;
  align-items: center;
  /* margin-left: 10px; */
  min-width: 300px;
}

.titulo div:first-child > h1 {
  font-size: 2.5rem;
  margin-left: 20px;
}

.titulo div:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.titulo div:last-child a {
  list-style: none;
  color: black;
}

.titulo div:last-child a {
  font-size: 1.8rem;
}

.titulo div:last-child a + input {
  margin-left: 70px;
}

.titulo div:last-child input {
  margin: 8px 0px;
  font-size: 1rem;
  padding: 0.8rem;
  border: 1px solid #eee;
  border-radius: 0.4rem;
  background: #eee;
  transition: 0.1s;
  color: #686060;
}

.titulo div:last-child input:focus,
.titulo div:last-child input:hover {
  outline: none;
  border-color: #e71f1f;
  background: white;
  box-shadow: 0 0 0 3px #fb8267;
}

.titulo div:last-child input + button {
  margin-left: 20px;
  background: #b47162;
  color: #47261f;
}

.titulo div:last-child input + button:focus,
.titulo div:last-child input + button:hover {
  color: white;
}

.hr {
  width: 1300px;
  margin: 50px auto;
  background: #d9d9d9;
  height: 3px;
}

.article {
  grid-area: article;
  background: #ebebeb;
  height: 300px;
  margin-top: 50px;
}

.lista {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 1600px;
  margin: 0 auto;
}
