.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background: #0d0d0d;
  top: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  margin: 0 40px 0 40px;
}

.logo {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  font-size: 4rem;
  color: white;
}
.logo svg {
  margin-right: 1rem;
}

.login {
  color: white;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}

.login::before {
  content: '';
  display: inline-block;
  width: 37px;
  height: 36px;
  background: url('../Assets/login.svg') no-repeat center center;
  margin-right: 1rem;
}

.menu{
  display: flex;
  align-items: center;
}

.link{
  margin-right: 3rem;
}
.link a{
  list-style: none;
  color: white;
  margin: 0 6px;
  padding: 10px;
  font-size: 1.5rem;
}



.dropdown_menu {
  position: relative;
  font-size: 1.5rem;
}

.dropdown_menu a{
  display: block;
  color: white;
  text-decoration: none;
  padding: 2px;
  cursor: pointer;
}

.dropdown_menu svg{
  margin-left: 1rem;
}
.submenu{
  min-width: 8rem;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 5px;
}

.submenu ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.submenu li{
  padding: .10rem;
}

.submenu li:hover{
  background-color: #555;
}

