.principal {
  height: calc(100vh - 7rem);
  display: grid;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  padding: 50px;
}
.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.error {
  color: #f31;
  font-size: 0.875rem;
  margin-top: 1rem;
}
