* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

body {
  /* padding-top: 6rem; */
  color: #333;
  --type-first: Helvetiva, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
  font-family: var(--type-first);
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}
/* .container {
  max-width: 82rem; 82 * 16 = 1312px
  padding: 0 1rem;
  margin: 0 auto;
} */
